.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.searchField {
  width: 50vw;
  margin: auto;
  text-align: center;
}

.fontWhite {
  color: black;
}

.backgroundColour {
  /* background-color: #282c34; */
  background-color: white;
}

.twoColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

/* Edit Table  */

.editColumnMenuItem-active {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.editColumnMenuItem-active:hover {
  background-color: rgb(254 202 202);
}

.editColumnMenuItem-disabled {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  background-color: lightgrey;
}
